<%- if controller_name != 'sessions' %>
  <%= link_to "Se connecter", new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Vous voulez peut-être vous inscrire ?", new_registration_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Récupérer votre mot de passe", new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Vous n'avez pas reçu les instructions de confirmation ?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Vous n'avez pas reçu d'instructions de déverrouillage ?", new_unlock_path(resource_name) %><br />
<% end %>
<br>
<h4>Connection via les réseaux sociaux</h4>
<%= link_to user_facebook_omniauth_authorize_path do %>
  <div class="fab fa-facebook fa-3x" style="text-decoration:none;"></div>
<% end %>
<%= link_to user_github_omniauth_authorize_path do %>
  <div class="fab fa-github fa-3x ml-2" style="text-decoration:none;color:#2c2c2c;"></div>
<% end %>
<%= link_to user_twitter_omniauth_authorize_path do %>
  <div class="fab fa-twitter-square fa-3x ml-2" style="text-decoration:none;color:#7DCDEE;"></div>
<% end %>
<%= link_to user_google_omniauth_authorize_path do %>
  <div class="fab fa-google fa-3x ml-2" style="text-decoration:none;color:#DC493A;"></div>
<% end %>
